<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <title>EMS</title>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <link href="css/login.css" rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body class="text-center">

<div class="container">

    <form class="form-signin" method="post" th:action="@{/login11}">
        <fieldset>
            <img alt="not found" class="mb-3" height="auto" src="image/logo.svg"
                 width="72"/>
            <h1 class="h3 mb-3 font-weight-normal">EMS</h1>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Hibás felhasználónév/jelszó
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    Sikeres kijelentkezés
                </div>
            </div>

            <div class="form-group">
                <input autofocus="true" class="form-control" id="us-username" name="us-username"
                       placeholder="Felhasználónév" required="true" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="us-password" name="us-password" placeholder="Jelszó"
                       required="true" type="password"/>
            </div>

            <div class="form-group">
                <div>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Bejelentkezés"/>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
                </div>
            </div>
        </fieldset>
    </form>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>