<!DOCTYPE html>
<html layout:decorator="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Főoldal</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="alert alert-success" role="alert">
            Üdvözöljük <span th:text="${#authentication.name}"></span>
        </div>
    </div>
</div>
</body>
</html>