<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Főoldal</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <div class="container-fluid">
    <div class="card" style="margin-top:10px;">
        <div class="card-header">Alkalmazottak listája</div>
        <div class="card-body">
            <a th:href="@{/employee}" class="btn btn-primary" style="margin-bottom: 10px;">Új alkalmazott felvétele</a>
            <table class="table table-striped table-hover" id="entityList">
                <thead class="thead-dark">
                <tr>
                    <th class="text-left" scope="col">ID</th>
                    <th class="text-left" scope="col">Beosztás</th>
                    <th class="text-left" scope="col">Vezetéknév</th>
                    <th class="text-left" scope="col">Keresztnév</th>
                    <th class="text-left" scope="col">Login név</th>
                    <th class="text-left" scope="col">Jelszó</th>
                    <th class="text-left" scope="col">Fizetés</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="e : ${entityList}">
                    <td th:text="${e.id}"></td>
                    <td th:text="${e.title}"></td>
                    <td th:text="${e.firstName}"></td>
                    <td th:text="${e.lastName}"></td>
                    <td th:text="${e.loginName}"></td>
                    <td th:text="${e.password}"></td>
                    <td th:text="${e.salary}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    </div>

</div>
</body>
</html>